@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

html, body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(224,255,205,1) 80%, rgba(255,239,134,1) 100%);
}

.header {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.header a {
    font-size: 25px;
    cursor: pointer;
}

.main-for-flex {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    padding: 25px;
    border-radius: 10px;
}

.h1title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 5px;
}

input {
    font-size: 20px;
    outline: none;
    width: 100%;
}

.purpose, .password {
    margin-bottom: 20px;
}

.div-button {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-around;
}

.folder-button {
    padding: 3px 5px;
}

.gen-button, .record-button {
    padding: 3px 40px;
}


@media screen and (max-width: 480px) {
    .header {
        display: none;
    }
}